<footer class="footer">
  <div class="footer-info">
    <h4>This website is created by Ranjith RD and Praveen DS</h4>
    <h4>The iOS App was created by Ranjith RD</h4>
    <h4>The iOS App uses Highlightr, an iOS native solution for highlight.js, which this website uses.</h4>
  </div>
  <div class="footer-nav">
    <ul>
      <li><h4><a href="https://earthrock-r.github.io">Earthrock</a></h4></li>
      <li><h4><a href="https://earthrock-r.github.io/all/index.html">All my other apps</a></h4></li>
    </ul>
  </div>
</footer>
